{% extends 'base.html' %}

{% block content %}
<a href="/">BACK</a>


<div class="row justify-content-md-center">
    <div class="col-lg-8">
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename ='images/Vaibhav Saxena.jpg')}}"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Vaibhav Saxena</h5>
                <small class="text-muted">Philosopher, Psychedelics and Meditataive Samadhi States explorer, Eddy player
                    and Tekken 3 Tournament Organizer in India</small>
                <p class="card-text">
                    Mr Vaibhav Saxena , whoso work and contribution In Tekken 3 is being Appreciated all over the World
                    , the tournaments being organized at his own expenses without any financial profits for Spirit and
                    Passion of Tekken 3 and to bring Tekken 3 Talent and Great fighters of Tekken 3 in front of whole
                    world through YouTube, he is youtuber and working as counseling psychologist these days , Orgaizing
                    Tekken 3 Tournament is his passion which becomes only possible through God's Grace ⭐
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
