{% extends 'base.html' %}

{% block content %}



<div class="row justify-content-md-center">
    <div class="col-lg-8">
        <p><a href="/" class="btn btn-secondary">BACK</a></p>
        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename ='images/Vaibhav Saxena.jpg')}}"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Vaibhav Saxena</h5>
                <small class="text-muted">Philosopher, Psychedelics and Meditataive Samadhi States explorer, Eddy player
                    and Tekken 3 Tournament Organizer in India</small>
                <p class="card-text">
                    Mr Vaibhav Saxena , whoso work and contribution In Tekken 3 is being Appreciated all over the World
                    , the tournaments being organized at his own expenses without any financial profits for Spirit and
                    Passion of Tekken 3 and to bring Tekken 3 Talent and Great fighters of Tekken 3 in front of whole
                    world through YouTube, he is youtuber and working as counseling psychologist these days , Orgaizing
                    Tekken 3 Tournament is his passion which becomes only possible through God's Grace ⭐
                </p>
            </div>
            <div class="card-footer">
                <b>Contact:</b> +91-8826034254<br/>
                <b class="text-danger">Youtube:</b> <a href="https://www.youtube.com/channel/UCyZFVRyqL92-BgWxKnbzYlQ">/Transcendental
                Self</a>
            </div>
        </div>
        <br/>

        <div class="card">
            <img class="card-img-top" src="{{url_for('static', filename ='images/Utkarsh Anand.jpg')}}"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Utkarsh Anand</h5>
                <p>This website is created by me. Web development is my hobby.</p>
            </div>
            <div class="card-footer">
                <p>
                    <b class="text-danger">Youtube:</b> <a href="https://www.youtube.com/c/GrowUpAnand">/GrowUpAnand</a>
                </p>
            </div>
        </div>
        <br/>

    </div>
</div>


{% endblock %}
