{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
<div class="col-lg-4">
    <div class="card">
        <div class="card-header">UPCOMING EVENTS</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6>Tekken 3 Stars Cup</h6>
                <p>Location: Ludhiana</p>
            </li>
            <li class="list-group-item">
                <h6>Tekken 3 Legacy Diamond Cup</h6>
                <p>Location: Kanpur<br/>
                Teams: Jammu and Kashmir vs Kanpur
                </p>
            </li>
        </ul>
    </div><br/>
</div>
    <div class="col-lg-8">
    {% for match in data %}

        <div class="card">
            <div class="row">

                    <img class="col-lg img-fluid"
                         src="{{url_for('static', filename ='images/'+match['match_name']+'/main.jpg')}}"
                         alt="Card image cap">

                <div class="col-lg">
                    <div class="card-body">
                        <div class="card-title">
                            <h5>{{match['match_name']}}</h5>
                        </div>
                        <p class="card-text">
                            <small class="text-muted">{{match['match_date']}}</small>
                        </p>
                        <p class="card-text">
                            <a href="/view_match/{{match['match_name']}}" class="btn btn-secondary btn-block">VIEW</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><br/>

    {% endfor %}
    </div>
</div>

{% endblock %}